In [1]:
import os 
import sys 

# Run this incase if you have not installed the repo as a package but still
# want to run this notebook

current_dir = os.getcwd()
dir_to_use = os.path.abspath(os.path.join(current_dir, '..'))
sys.path.append(dir_to_use)

## Text to SQL evaluation using BirdBench

In this example, we are going to learn how to use `text2sql` package to evaluate different models (open and closed source) using one of the latest text to sql benchmark called [Bird Bench](https://bird-bench.github.io/). 

The flow of benchmarking is super simple. Using our api, you can do the following:

- download the benchmark data.
- filter it on several parameters (like: `difficulty`).
- benchmark them with different open/closed source models of your choice.
- See the leaderboard.

You can also extend our API to evaluate text2sql models for your own data. However for that, your format of the data needs to be similar as how it id done for BirdBench. In future we are going to work on this feature too, to make this process more simpler. Now, let's start by importing some libraries.

In [2]:
from text2sql.eval.dataset.bird import BirdBenchEvalDataset
from text2sql.eval.settings import SQLGeneratorConfig

`BirdBenchEvalDataset` helps you to download and filter / offset the evaluation dataset before you evaluate it with your models. You can also apply your prompt instruction to test it with different prompts. 

`SQLGeneratorConfig` is a configuration which will be used across your benchmarking process. Think of this as the settings for your text to sql generation engine you will be using. There are several arguments however these are some argumets you can tweak:

- `model_name (str)`: Think of this as your experiment name. You can give it any name. However we prefer to give it the name by the name of the model which will be used to evaluate. Example: `gpt-4o-zeroshot` or `experiment-1-gpt-4o-mini`. 

- `use_knowledge (bool)`: When you set this as `True` it will be inserting existing domain knowledge (around the database or tables) inside the prompt.

You can also check out other parameters too, but those are not required to changed from your side.

In [3]:
config = SQLGeneratorConfig(model_name="gpt-4o-50-examples")
eval_dataset = BirdBenchEvalDataset(config=config)

Now let's load our dataset. By default it will download the whole dev-set of BirdBench dataset. So, in this example, I am going to show you how you can download and offset the number of examples for evaluation and also filter it by difficulty.

In [4]:
filter_by = ("difficulty", "simple")
offset = 50

dataset = eval_dataset.process_and_filter(
    num_rows=offset, 
    filter_by=filter_by
)

2024-07-29 13:30:40,421 - text2sql-eval - INFO - ./data/eval/ is not empty. Use force=True to re-download and overwrite the contents.

**NOTE**

Argument `filter_by` is a key, value pair. For BirdBench dataset there are only two types of filter which you can apply. Here are those:

- When the key is set to: `difficulty`, the values can be: 
  - simple
  - moderate
  - challenging

- When the key is set to `db_id`, the values can be:
  - european_football_2
  - toxicology
  - california_schools
  - student_club
  - superhero
  - card_games
  - thrombosis_prediction
  - financial
  - codebase_community
  - debit_card_specializing
  - formula_1

Key `db_id` only does the evaluation for a specific database. You can check the contents of the database once the data is download inside the `data/eval/dev_databases` folder. This folder will be present inside the folder you are running the experiments. 

The `dataset` will be a list of dictionary here. Let's see how it looks like:

In [5]:
dataset

[
    {
        "question_id": 0,
        "db_id": "california_schools",
        "question": "What is the highest eligible free rate for K-12 students in the schools in Alameda County?",
        "evidence": "Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`",
        "SQL": "SELECT `Free Meal Count (K-12)` / `Enrollment (K-12)` FROM frpm WHERE `County Name` = 'Alameda' ORDER BY (CAST(`Free Meal Count (K-12)` AS REAL) / `Enrollment (K-12)`) DESC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 2,
        "db_id": "california_schools",
        "question": "Please list the zip code of all the charter schools in Fresno County Office of Education.",
        "evidence": "Charter schools refers to `Charter School (Y/N)` = 1 in the table fprm",
        "SQL": "SELECT T2.Zip FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T1.`District Name` = 'Fresno County Office of Education' AND T1.`Charter School (Y/N)` = 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 3,
        "db_id": "california_schools",
        "question": "What is the unabbreviated mailing street address of the school with the highest FRPM count for K-12 students?",
        "evidence": "",
        "SQL": "SELECT T2.MailStreet FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode ORDER BY T1.`FRPM Count (K-12)` DESC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 5,
        "db_id": "california_schools",
        "question": "How many schools with an average score in Math greater than 400 in the SAT test are exclusively virtual?",
        "evidence": "Exclusively virtual refers to Virtual = 'F'",
        "SQL": "SELECT COUNT(DISTINCT T2.School) FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.Virtual = 'F' AND T1.AvgScrMath > 400",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 6,
        "db_id": "california_schools",
        "question": "Among the schools with the SAT test takers of over 500, please list the schools that are magnet schools or offer a magnet program.",
        "evidence": "Magnet schools or offer a magnet program means that Magnet = 1",
        "SQL": "SELECT T2.School FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.Magnet = 1 AND T1.NumTstTakr > 500",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 7,
        "db_id": "california_schools",
        "question": "What is the phone number of the school that has the highest number of test takers with an SAT score of over 1500?",
        "evidence": "",
        "SQL": "SELECT T2.Phone FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode ORDER BY T1.NumGE1500 DESC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 8,
        "db_id": "california_schools",
        "question": "What is the number of SAT test takers of the schools with the highest FRPM count for K-12 students?",
        "evidence": "",
        "SQL": "SELECT NumTstTakr FROM satscores WHERE cds = ( SELECT CDSCode FROM frpm ORDER BY `FRPM Count (K-12)` DESC LIMIT 1 )",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 9,
        "db_id": "california_schools",
        "question": "Among the schools with the average score in Math over 560 in the SAT test, how many schools are directly charter-funded?",
        "evidence": "",
        "SQL": "SELECT COUNT(T2.`School Code`) FROM satscores AS T1 INNER JOIN frpm AS T2 ON T1.cds = T2.CDSCode WHERE T1.AvgScrMath > 560 AND T2.`Charter Funding Type` = 'Directly funded'",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 10,
        "db_id": "california_schools",
        "question": "For the school with the highest average score in Reading in the SAT test, what is its FRPM count for students aged 5-17?",
        "evidence": "",
        "SQL": "SELECT T2.`FRPM Count (Ages 5-17)` FROM satscores AS T1 INNER JOIN frpm AS T2 ON T1.cds = T2.CDSCode ORDER BY T1.AvgScrRead DESC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 11,
        "db_id": "california_schools",
        "question": "Please list the codes of the schools with a total enrollment of over 500.",
        "evidence": "Total enrollment can be represented by `Enrollment (K-12)` + `Enrollment (Ages 5-17)`",
        "SQL": "SELECT T2.CDSCode FROM schools AS T1 INNER JOIN frpm AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.`Enrollment (K-12)` + T2.`Enrollment (Ages 5-17)` > 500",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 13,
        "db_id": "california_schools",
        "question": "Please list the phone numbers of the schools with the top 3 SAT excellence rate.",
        "evidence": "Excellence rate = NumGE1500 / NumTstTakr",
        "SQL": "SELECT T1.Phone FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds ORDER BY CAST(T2.NumGE1500 AS REAL) / T2.NumTstTakr DESC LIMIT 3",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 14,
        "db_id": "california_schools",
        "question": "List the top five schools, by descending order, from the highest to the lowest, the most number of Enrollment (Ages 5-17). Please give their NCES school identification number.",
        "evidence": "",
        "SQL": "SELECT T1.NCESSchool FROM schools AS T1 INNER JOIN frpm AS T2 ON T1.CDSCode = T2.CDSCode ORDER BY T2.`Enrollment (Ages 5-17)` DESC LIMIT 5",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 15,
        "db_id": "california_schools",
        "question": "Which active district has the highest average score in Reading?",
        "evidence": "",
        "SQL": "SELECT T1.District FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T1.StatusType = 'Active' ORDER BY T2.AvgScrRead DESC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 16,
        "db_id": "california_schools",
        "question": "How many schools in merged Alameda have number of test takers less than 100?",
        "evidence": "",
        "SQL": "SELECT COUNT(T1.CDSCode) FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T1.StatusType = 'Merged' AND T2.NumTstTakr < 100 AND T1.County = 'Lake'",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 17,
        "db_id": "california_schools",
        "question": "Rank schools by their average score in Writing where the score is greater than 499, showing their charter numbers.",
        "evidence": "Valid charter number means the number is not null",
        "SQL": "SELECT CharterNum, AvgScrWrite, RANK() OVER (ORDER BY AvgScrWrite DESC) AS WritingScoreRank FROM schools AS T1  INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T2.AvgScrWrite > 499 AND CharterNum is not null",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 18,
        "db_id": "california_schools",
        "question": "How many schools in Fresno (directly funded) have number of test takers not more than 250?",
        "evidence": "",
        "SQL": "SELECT COUNT(T1.CDSCode) FROM frpm AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T1.`Charter Funding Type` = 'Directly funded' AND T1.`County Name` = 'Fresno' AND T2.NumTstTakr <= 250",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 19,
        "db_id": "california_schools",
        "question": "What is the phone number of the school that has the highest average score in Math?",
        "evidence": "",
        "SQL": "SELECT T1.Phone FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds ORDER BY T2.AvgScrMath DESC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 20,
        "db_id": "california_schools",
        "question": "How many schools in Amador which the Low Grade is 9 and the High Grade is 12?",
        "evidence": "",
        "SQL": "SELECT COUNT(T1.`School Name`) FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.County = 'Amador' AND T1.`Low Grade` = 9 AND T1.`High Grade` = 12",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 21,
        "db_id": "california_schools",
        "question": "In Los Angeles how many schools have more than 500 free meals but less than 700 free or reduced price meals for K-12?",
        "evidence": "",
        "SQL": "SELECT COUNT(CDSCode) FROM frpm WHERE `County Name` = 'Los Angeles' AND `Free Meal Count (K-12)` > 500 AND `FRPM Count (K-12)`< 700",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 22,
        "db_id": "california_schools",
        "question": "Which school in Contra Costa has the highest number of test takers?",
        "evidence": "",
        "SQL": "SELECT sname FROM satscores WHERE cname = 'Contra Costa' AND sname IS NOT NULL ORDER BY NumTstTakr DESC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 29,
        "db_id": "california_schools",
        "question": "When did the first-through-twelfth-grade school with the largest enrollment open?",
        "evidence": "K-12 means First-through-twelfth-grade",
        "SQL": "SELECT T2.OpenDate FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode ORDER BY T1.`Enrollment (K-12)` DESC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 30,
        "db_id": "california_schools",
        "question": "Which cities have the top 5 lowest enrollment number for students in grades 1 through 12?",
        "evidence": "K-12 refers to students in grades 1 through 12.",
        "SQL": "SELECT T2.City FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode GROUP BY T2.City ORDER BY SUM(T1.`Enrollment (K-12)`) ASC LIMIT 5",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 38,
        "db_id": "california_schools",
        "question": "What are the webpages for the Los Angeles County school that has between 2,000 and 3,000 test takers?",
        "evidence": "",
        "SQL": "SELECT T2.Website FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T1.NumTstTakr BETWEEN 2000 AND 3000 AND T2.County = 'Los Angeles'",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 39,
        "db_id": "california_schools",
        "question": "What is the average number of test takers from Fresno schools that opened between 1/1/1980 and 12/31/1980?",
        "evidence": "between 1/1/1980 and 12/31/1980 means the year = 1980",
        "SQL": "SELECT AVG(T1.NumTstTakr) FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE strftime('%Y', T2.OpenDate) = '1980' AND T2.County = 'Fresno'",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 41,
        "db_id": "california_schools",
        "question": "List the names of virtual schools that are among the top 5 in their respective counties based on average reading scores.",
        "evidence": "Exclusively virtual refers to Virtual = 'F'; respective counties means PARTITION BY County",
        "SQL": "SELECT School FROM (SELECT T2.School,T1.AvgScrRead, RANK() OVER (PARTITION BY T2.County ORDER BY T1.AvgScrRead DESC) AS rnk FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.Virtual = 'F' ) ranked_schools WHERE rnk <= 5",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 42,
        "db_id": "california_schools",
        "question": "What is the type of education offered in the school who scored the highest average in Math?",
        "evidence": "",
        "SQL": "SELECT T2.EdOpsName FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode ORDER BY T1.AvgScrMath DESC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 44,
        "db_id": "california_schools",
        "question": "What is the average writing score of the school who has the highest number of test takers whose total SAT sscores are greater or equal to 1500? Indicate the city to where the school is situated.",
        "evidence": "",
        "SQL": "SELECT T1.AvgScrWrite, T2.City FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode ORDER BY T1.NumGE1500 DESC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 46,
        "db_id": "california_schools",
        "question": "Which state special schools have the highest number of enrollees from grades 1 through 12?",
        "evidence": "State Special Schools refers to DOC = 31; Grades 1 through 12 means K-12",
        "SQL": "SELECT T2.School FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.DOC = 31 ORDER BY T1.`Enrollment (K-12)` DESC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 50,
        "db_id": "california_schools",
        "question": "What is the postal street address for the school with the 7th highest Math average? Indicate the school's name.",
        "evidence": "Postal street and mailing street are synonyms.",
        "SQL": "SELECT T2.MailStreet, T2.School FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode ORDER BY T1.AvgScrMath DESC LIMIT 6, 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 51,
        "db_id": "california_schools",
        "question": "In which mailing street address can you find the school that has the lowest average score in reading? Also give the school's name.",
        "evidence": "",
        "SQL": "SELECT T2.MailStreet, T2.School FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T1.AvgScrRead IS NOT NULL ORDER BY T1.AvgScrRead ASC LIMIT 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 52,
        "db_id": "california_schools",
        "question": "What is the total number of schools whose total SAT scores are greater or equal to 1500 whose mailing city is Lakeport?",
        "evidence": "Total SAT scores can be computed by AvgScrRead + AvgScrMath + AvgScrWrite",
        "SQL": "SELECT COUNT(T1.cds) FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.MailCity = 'Lakeport' AND (T1.AvgScrRead + T1.AvgScrMath + T1.AvgScrWrite) >= 1500",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 53,
        "db_id": "california_schools",
        "question": "How many test takers are there at the school/s whose mailing city address is in Fresno?",
        "evidence": "",
        "SQL": "SELECT T1.NumTstTakr FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.MailCity = 'Fresno'",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 54,
        "db_id": "california_schools",
        "question": "Please specify all of the schools and their related mailing zip codes that are under Avetik Atoian's administration.",
        "evidence": "",
        "SQL": "SELECT School, MailZip FROM schools WHERE AdmFName1 = 'Avetik' AND AdmLName1 = 'Atoian'",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 56,
        "db_id": "california_schools",
        "question": "Of all the schools with a mailing state address in California, how many are active in San Joaquin city?",
        "evidence": "",
        "SQL": "SELECT COUNT(CDSCode) FROM schools WHERE City = 'San Joaquin' AND MailState = 'CA' AND StatusType = 'Active'",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 57,
        "db_id": "california_schools",
        "question": "What is the phone number and extension number for the school that had the 333rd highest average writing score?",
        "evidence": "",
        "SQL": "SELECT T2.Phone, T2.Ext FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode ORDER BY T1.AvgScrWrite DESC LIMIT 332, 1",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 58,
        "db_id": "california_schools",
        "question": "What is the phone number and extension number for the school with the zip code 95203-3704? Indicate the school's name.",
        "evidence": "",
        "SQL": "SELECT Phone, Ext, School FROM schools WHERE Zip = '95203-3704'",
        "difficulty": "simple",
        "db_path": "./data/eval/dev_databases/california_schools/california_schools.sqlite"
    },
    {
        "question_id": 59,
        "db_id": "california_schools",
        "question": "What is the website for the schools under the administrations of Mike Larson and Dante Alvarez?",
        "evidence": "",
        "SQL": "SELECT Website FROM schools WHERE (AdmFName1 = 'Mike' AND AdmLName1 = 'Larson') OR (AdmFName1 = 'Dante' AND AdmLName1 = 'Alvarez')",
        "difficulty": "simple",

As you can see in the dataset, each of them have a question, the name of the database, a question, an evidence (which acts as additional domain knowledge here), SQL (the actual SQL) and difficulty (which tells how complex the query is) and a db_path which gives the path of the sqlite database. 

Now we can use the information of qestion, evidence to build our prompts. Here is an example

In [6]:
dataset_with_prompt = dataset.apply_prompt(
    apply_knowledge=True, 
    header_prompt=None
)

dataset_with_prompt[0]

{'question_id': 0,
 'db_id': 'california_schools',
 'question': 'What is the highest eligible free rate for K-12 students in the schools in Alameda County?',
 'evidence': 'Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`',
 'SQL': "SELECT `Free Meal Count (K-12)` / `Enrollment (K-12)` FROM frpm WHERE `County Name` = 'Alameda' ORDER BY (CAST(`Free Meal Count (K-12)` AS REAL) / `Enrollment (K-12)`) DESC LIMIT 1",
 'difficulty': 'simple',
 'db_path': './data/eval/dev_databases/california_schools/california_schools.sqlite',
 'prompt': 'CREATE TABLE frpm\n(\n    CDSCode                                       TEXT not null\n        primary key,\n    `Academic Year`                               TEXT  null,\n    `County Code`                                 TEXT  null,\n    `District Code`                               INTEGER         null,\n    `School Code`                                 TEXT  null,\n    `County Name`                                 TEXT null,\n    `District Name`                               TEXT null,\n    `School Name`                                 TEXT null,\n    `District Type`                               TEXT null,\n    `School Type`                                 TEXT null,\n    `Educational Option Type`                     TEXT null,\n    `NSLP Provision Status`                       TEXT null,\n    `Charter School (Y/N)`                        INTEGER    null,\n    `Charter School Number`                       TEXT  null,\n    `Charter Funding Type`                        TEXT null,\n    IRC                                           INTEGER    null,\n    `Low Grade`                                   TEXT  null,\n    `High Grade`                                  TEXT null,\n    `Enrollment (K-12)`                           REAL      null,\n    `Free Meal Count (K-12)`                      REAL       null,\n    `Percent (%) Eligible Free (K-12)`            REAL       null,\n    `FRPM Count (K-12)`                           REAL       null,\n    `Percent (%) Eligible FRPM (K-12)`            REAL       null,\n    `Enrollment (Ages 5-17)`                      REAL       null,\n    `Free Meal Count (Ages 5-17)`                 REAL       null,\n    `Percent (%) Eligible Free (Ages 5-17)`       REAL       null,\n    `FRPM Count (Ages 5-17)`                      REAL       null,\n    `Percent (%) Eligible FRPM (Ages 5-17)`       REAL       null,\n    `2013-14 CALPADS Fall 1 Certification Status` INTEGER    null,\n    foreign key (CDSCode) references schools (CDSCode)\n)\n\nCREATE TABLE satscores\n(\n    cds         TEXT not null\n        primary key,\n    rtype       TEXT  not null,\n    sname       TEXT null,\n    dname       TEXT null,\n    cname       TEXT null,\n    enroll12    INTEGER         not null,\n    NumTstTakr  INTEGER          not null,\n    AvgScrRead  INTEGER          null,\n    AvgScrMath  INTEGER          null,\n    AvgScrWrite INTEGER          null,\n    NumGE1500   INTEGER          null,\n--     PctGE1500   double      null,\n        foreign key (cds) references schools (CDSCode)\n)\n\nCREATE TABLE schools\n(\n    CDSCode     TEXT not null\n        primary key,\n    NCESDist    TEXT  null,\n    NCESSchool  TEXT  null,\n    StatusType  TEXT  not null,\n    County      TEXT not null,\n    District    TEXT not null,\n    School      TEXT null,\n    Street      TEXT null,\n    StreetAbr   TEXT null,\n    City        TEXT null,\n    Zip         TEXT null,\n    State       TEXT  null,\n    MailStreet  TEXT null,\n    MailStrAbr  TEXT null,\n    MailCity    TEXT null,\n    MailZip     TEXT null,\n    MailState   TEXT  null,\n    Phone       TEXT null,\n    Ext         TEXT  null,\n    Website     TEXT null,\n    OpenDate    DATE        null,\n    ClosedDate  DATE        null,\n    Charter     INTEGER    null,\n    CharterNum  TEXT  null,\n    FundingType TEXT null,\n    DOC         TEXT  not null,\n    DOCType     TEXT not null,\n    SOC         TEXT  null,\n    SOCType     TEXT null,\n    EdOpsCode   TEXT  null,\n    EdOpsName   TEXT null,\n    EILCode     TEXT  null,\n    EILName     TEXT null,\n    GSoffered   TEXT null,\n    GSserved    TEXT  null,\n    Virtual     TEXT  null,\n    Magnet      INTEGER   null,\n    Latitude    REAL      null,\n    Longitude   REAL      null,\n    AdmFName1   TEXT null,\n    AdmLName1   TEXT null,\n    AdmEmail1   TEXT null,\n    AdmFName2   TEXT null,\n    AdmLName2   TEXT null,\n    AdmEmail2   TEXT null,\n    AdmFName3   TEXT  null,\n    AdmLName3   TEXT null,\n    AdmEmail3   TEXT null,\n    LastUpdate  DATE        not null\n)\n\n-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`\n\n"-- Using valid SQLite and understading External Knowledge, answer the following questions for the tables provided above."\n\n-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?\n\nGenerate the SQL after thinking step by step: \n\nSELECT '}

Let's watch the prompt closely here:

In [7]:
print(dataset_with_prompt[0]["prompt"])

CREATE TABLE frpm
(
    CDSCode                                       TEXT not null
        primary key,
    `Academic Year`                               TEXT  null,
    `County Code`                                 TEXT  null,
    `District Code`                               INTEGER         null,
    `School Code`                                 TEXT  null,
    `County Name`                                 TEXT null,
    `District Name`                               TEXT null,
    `School Name`                                 TEXT null,
    `District Type`                               TEXT null,
    `School Type`                                 TEXT null,
    `Educational Option Type`                     TEXT null,
    `NSLP Provision Status`                       TEXT null,
    `Charter School (Y/N)`                        INTEGER    null,
    `Charter School Number`                       TEXT  null,
    `Charter Funding Type`                        TEXT null,
    IRC                                           INTEGER    null,
    `Low Grade`                                   TEXT  null,
    `High Grade`                                  TEXT null,
    `Enrollment (K-12)`                           REAL      null,
    `Free Meal Count (K-12)`                      REAL       null,
    `Percent (%) Eligible Free (K-12)`            REAL       null,
    `FRPM Count (K-12)`                           REAL       null,
    `Percent (%) Eligible FRPM (K-12)`            REAL       null,
    `Enrollment (Ages 5-17)`                      REAL       null,
    `Free Meal Count (Ages 5-17)`                 REAL       null,
    `Percent (%) Eligible Free (Ages 5-17)`       REAL       null,
    `FRPM Count (Ages 5-17)`                      REAL       null,
    `Percent (%) Eligible FRPM (Ages 5-17)`       REAL       null,
    `2013-14 CALPADS Fall 1 Certification Status` INTEGER    null,
    foreign key (CDSCode) references schools (CDSCode)
)

CREATE TABLE satscores
(
    cds         TEXT not null
        primary key,
    rtype       TEXT  not null,
    sname       TEXT null,
    dname       TEXT null,
    cname       TEXT null,
    enroll12    INTEGER         not null,
    NumTstTakr  INTEGER          not null,
    AvgScrRead  INTEGER          null,
    AvgScrMath  INTEGER          null,
    AvgScrWrite INTEGER          null,
    NumGE1500   INTEGER          null,
--     PctGE1500   double      null,
        foreign key (cds) references schools (CDSCode)
)

CREATE TABLE schools
(
    CDSCode     TEXT not null
        primary key,
    NCESDist    TEXT  null,
    NCESSchool  TEXT  null,
    StatusType  TEXT  not null,
    County      TEXT not null,
    District    TEXT not null,
    School      TEXT null,
    Street      TEXT null,
    StreetAbr   TEXT null,
    City        TEXT null,
    Zip         TEXT null,
    State       TEXT  null,
    MailStreet  TEXT null,
    MailStrAbr  TEXT null,
    MailCity    TEXT null,
    MailZip     TEXT null,
    MailState   TEXT  null,
    Phone       TEXT null,
    Ext         TEXT  null,
    Website     TEXT null,
    OpenDate    DATE        null,
    ClosedDate  DATE        null,
    Charter     INTEGER    null,
    CharterNum  TEXT  null,
    FundingType TEXT null,
    DOC         TEXT  not null,
    DOCType     TEXT not null,
    SOC         TEXT  null,
    SOCType     TEXT null,
    EdOpsCode   TEXT  null,
    EdOpsName   TEXT null,
    EILCode     TEXT  null,
    EILName     TEXT null,
    GSoffered   TEXT null,
    GSserved    TEXT  null,
    Virtual     TEXT  null,
    Magnet      INTEGER   null,
    Latitude    REAL      null,
    Longitude   REAL      null,
    AdmFName1   TEXT null,
    AdmLName1   TEXT null,
    AdmEmail1   TEXT null,
    AdmFName2   TEXT null,
    AdmLName2   TEXT null,
    AdmEmail2   TEXT null,
    AdmFName3   TEXT  null,
    AdmLName3   TEXT null,
    AdmEmail3   TEXT null,
    LastUpdate  DATE        not null
)

-- External Knowledge: Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`

"-- Using valid SQLite and understading External Knowledge, answer the following questions for the tables provided above."

-- What is the highest eligible free rate for K-12 students in the schools in Alameda County?

Generate the SQL after thinking step by step:

SELECT

We fetch the full description of the database along with the schema of the table and insert those schema inside the prompt. If you use:

- `apply_knowledge (bool)`: set as True, then it will use the evidence column else not. From experiments, it has been see that using knowledge it is more efficient. 

- `header_prompt (str)`: You can put additional instruction prompt to optimize or also you can put few shot examples from this. 

`dataset` internally is an object of `DataInstance` class, and you can use this to work out few shot examples to put inside header prompt for different tables. We can show that in an another example.

Now, let's evaluate `gpt-4o` by OpenAI for the sample of our dataset. We are going to use Prem AI API for this. You can check out how to get started with Prem AI in our [documentation](https://docs.premai.io/introduction).

In [8]:
from text2sql.eval.generator.bird.from_api import SQLGeneratorFromAPI
from text2sql.eval.settings import APIConfig

api_key = os.environ.get("PREMAI_API_KEY")

`APIConfig` acts as an config to control your LLM. You need to put your `api_key` and the `model_name` as a required parameter. Additionally you can also put other parameters like `temperature`, `max_tokens` etc to tweak generations. 

`SQLGeneratorFromAPI` acts as our engine that generates responses and appends those generations inside our initial data. We will used the data (containing the llm generations) to furthur evaluate them. In this step we are only going to generate results.

In [33]:
api_config = api_config = APIConfig(
    api_key=api_key, 
    temperature=0.1, 
    max_tokens=256,
    model_name="gpt-4o"
)

client_gpt4o = SQLGeneratorFromAPI(
    generator_config=config,
    engine_config=api_config
)

data_with_gen = client_gpt4o.generate_and_save_results(
    data=dataset_with_prompt, force=False
)

100%|| 50/50 [02:19<00:00,  2.79s/it]
2024-07-29 13:10:11,526 - text2sql-eval - INFO - all responses written to ./experiments/eval/prem_gpt-4o-5-examples/predict_dev.json
2024-07-29 13:10:11,526 - text2sql-eval - INFO - all responses written to ./experiments/eval/prem_gpt-4o-5-examples/predict_dev.json

To get our results, we call the function `generate_and_save_results` which has two parameters:

- `data`: The dataset that we want to pass for evaluation. 
- `force`: Whether to force generation. By default it stays to False. 
- 

This function first checks if there is any folder inside `eval/experiments/<config.model_name>` (in our case: `eval/experiments/prem_gpt-4o-5-examples`) and if force is False, then it will return the answers without calling the API (to reduce cost) else, it will call the API. If `force` is True then it will invoke generation and override the existing generation results.

Great, we have done the generation, now let's move to evaluation.

In [34]:
from text2sql.eval.executor.bird.acc import BirdExecutorAcc
from text2sql.eval.executor.bird.ves import BirdExecutorVES

For evaluation, we will use two classes, `BirdExecutorAcc` and `BirdExecutorVES`. These two are different metric that are popularly used to evaluate text to SQL tasks. 

The first one is very straight forward accuracy metric. The second one VES or Valid Efficiency Score is a score which returns 0 if the predicted SQL gives wrong result else it gives the relative efficiency (time required to execute the predicted SQL over the actual SQL). VES is super important when it comes to determine, how optimized SQL does our LLM generates. 

We start off by instantiating both of the metric.

In [35]:
acc = BirdExecutorAcc(generator_config=config)
ves = BirdExecutorVES(generator_config=config)

Now we simply execute them. 

**PLEASE NOTE**

If you have used any kind of filter (which is based on difficulty) before to get the dataset, then provide the filter while you do the execution, else it can be None. Here is how we do it. If you have used filter based on `db_id` no need to put anything inside `filter_used` argument.

In [36]:
# filter_used: None if filter_by is None or no filter is used 
acc_res = acc.execute(model_responses=data_with_gen, filter_used=filter_by)

=====================   ACCURACY    =====================
+-------------+-------------------+-------------------+
| Category    |   num_correct (%) |   total questions |
+=============+===================+===================+
| simple      |                46 |                50 |
+-------------+-------------------+-------------------+
| overall     |                46 |                50 |
+-------------+-------------------+-------------------+
| moderate    |                 0 |                 0 |
+-------------+-------------------+-------------------+
| challenging |                 0 |                 0 |
+-------------+-------------------+-------------------+

**NOTE**

Since we have used filters here (based on difficulty) so it only shows the score of that difficulty here. In the next example, I am also going to show one small example on how to do full evaluation (without using filter for a small subset of the data). 

The `num_correct` is in percentage out of the `total questions`. So `gpt-4o` does give around 23 correct answers out of 50.

In [38]:
ves_res = ves.execute(model_responses=data_with_gen, filter_used=filter_by)

=====================   VES    =====================
+-------------+-----------+-------------------+
| Category    |   VES (%) |   total questions |
+=============+===========+===================+
| simple      |   46.6103 |                50 |
+-------------+-----------+-------------------+
| moderate    |    0      |                 0 |
+-------------+-----------+-------------------+
| challenging |    0      |                 0 |
+-------------+-----------+-------------------+
| overall     |   46.6103 |                50 |
+-------------+-----------+-------------------+

The same goes for valid efficiency score too. You will see a different score than accuracy because of the formula we used.

### Doing full evaluation for gpt-4o

In [10]:
from text2sql.eval.dataset.bird import BirdBenchEvalDataset
from text2sql.eval.settings import SQLGeneratorConfig, APIConfig
from text2sql.eval.generator.bird.from_api import SQLGeneratorFromAPI
from text2sql.eval.executor.bird.acc import BirdExecutorAcc
from text2sql.eval.executor.bird.ves import BirdExecutorVES


config = SQLGeneratorConfig(model_name="gpt-4o-full-eval")
eval_dataset = BirdBenchEvalDataset(config=config)

dataset = eval_dataset.process_and_filter().apply_prompt(apply_knowledge=True)
api_config = api_config = APIConfig(
    api_key=api_key, 
    temperature=0.1, 
    max_tokens=256,
    model_name="gpt-4o"
)

client_gpt4o = SQLGeneratorFromAPI(
    generator_config=config,
    engine_config=api_config
)

data_with_gen = client_gpt4o.generate_and_save_results(
    data=dataset, force=False
)

acc = BirdExecutorAcc(generator_config=config)
ves = BirdExecutorVES(generator_config=config)

acc_res = acc.execute(model_responses=data_with_gen)
ves_res = ves.execute(model_responses=data_with_gen)

2024-07-29 13:36:25,006 - text2sql-eval - INFO - ./data/eval/ is not empty. Use force=True to re-download and overwrite the contents.
2024-07-29 13:36:25,006 - text2sql-eval - INFO - ./data/eval/ is not empty. Use force=True to re-download and overwrite the contents.
 18%|        | 273/1534 [13:16<1:02:22,  2.97s/it]

We are very quickly iterating our API for a full suite of developing, tuning and evaluating text to sql pipelines. In our future set of releases we are going to add support for doing fine-tuning on different datasets and we want to evaluate and see how small language models can perform and can they beat the current score of closed source models like gpt-4o.

We are also going to add more tutorials on how to use our evaluator in your existing pipelines or with langchain / llama-index or DSPy etc. So stay tuned.